{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "node": true,
      "jasmine": true,
    },
    "rules": {
        "no-restricted-syntax": "off",
        "no-tabs": "off",
        "indent": ["error", "tab"],
        "max-len": "off",
        "no-underscore-dangle": ["error", { "allow": ["__"] }],
        "no-duplicate-imports": [0],
        "keyword-spacing": "error",
        "arrow-body-style": [0],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["scripts/*.*"]}]
    }
}
